@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito:wght@200;300;400;700;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1em;

    background: #333333;
    color: #f9f9f9
}

a.b {
    font-size: 0.4em;
}