.vertical-center {
    
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section {
    padding: 5em;
    height: 100vh;
}

.stroked {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;

    text-transform: uppercase;
    font-weight: 900;

    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}